element.style {
: ;
}

form {
    display: block;
    margin-top: 0em;
    margin-right: 100%
    height: 517.4px;
    width: 965.6px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee; 
    font-size: 15px; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 40px; 
    padding-right: 40px; 
    color: #16a085;
    font-weight: bold;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #16a085;
    font-size: 30px;
    font-weight: bold;
}

input[type=button] {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1abc9c;
    font-size: 18px;
    text-align: center;
    width: 25%;
    border-width: 1px;
    border-style: solid; 
    border-color: #16a085;
} 

input[type="button"]:hover {
    background-color: salmon;
}

a:hover {
    color: salmon;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:visited {
    color: remove;
}

input[type=date] {
    font-family: Arial, Helvetica, sans-serif;
}

.inputClass, .checkboxClass {
    border-color: lightblue;
}

body {
    background-color: lightsteelblue;
}
